body {
    background-color: pink;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);

}

.first-cell {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
}

.second-cell {
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1 / 2;
}

.third-cell {
    background-color: orange;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.fourth-cell {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 3;
}

.fifth-cell {
    background-color: yellow;
    grid-row-start: ;
    grid-row-end: ;
    grid-column-start: 1;
    /* span = étend l'élément sur x élément(s) */
    grid-column-end: span 2; 
}

.sixth-cell {
    background-color: black;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: span 1; 
    z-index: 1;
}

.seventh-cell {
    background-color: coral;
    /* grid-row-start: 4;
    grid-row-end: 5; */
    grid-row: 4 / 5;
    /* grid-column-start: 1;
    grid-column-end: span 3;  */
    grid-column: 1 / span 3;
}

.eighth-cell {
    background-color: white;
    opacity: 0.60;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 0;
}

.second-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 200px);
}

.help {
    background-color: coral;
    opacity: 0.5;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.fixed-row {
    grid-row: 1 / 2;
}

.third-cell-2{
    grid-column-start: 3;
    grid-column-end: 4;
}